@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Roboto:wght@300;400;700&family=Yatra+One&display=swap');
$xsmall : 576px;
$small: 768px;
$medium: 992px;
$large: 992px;
$grey1: #dfe6e9;
$grey2: #b2bec3;
$grey3 : #636e72;
$grey4: #2d3436;
$electron-blue: #81ecec;
$robin-blue: #00cec9;
$danger-gong: #d63031;

.label-file-upload {
    border: 3px solid #ccc;
    background-color: #636e728f;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
        background-color: $grey3;
    }
}
textarea {
    resize: none;
}
.form-control {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
}