@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Roboto:wght@300;400;700&family=Yatra+One&display=swap');
$xsmall : 576px;
$small: 768px;
$medium: 992px;
$large: 992px;
$grey1: #dfe6e9;
$grey2: #889296b7;
$grey3 : #636e729a;
$grey4: #2d3436;
$electron-blue: #05131a;
$robin-blue: #c7483aa9;
$danger-gong: #d35B4d;
$rise-n-shine: #e5ffba13;


body {
  background-color: #e5ffba13;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2387b39e75' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23a4d9bf70' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2387b39e75' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23a4d9bf70' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23c1ffe175' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23b37a6970' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d9948075' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23ffae9670' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d9948075' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23b37a6970' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23ffae9675' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23b37a6970' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23ffae9675' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d9948070' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23ffae9675' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}
.nav-all {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 11px 9px rgba(0, 0, 0, 0.22);
    background-color: $grey3;
    border-radius: 7px;
    text-align: center;
    .nav-title {
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        line-height: 1.5;
        //vertical-align: text-bottom;
    }
    .nav-text-pos {
        position: relative;
        top: 0.3rem;
        input[type="checkbox"] {
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer; 
            &:focus{
                outline: 0;
             }

        }
        .nav-dark-mode{
            position: relative;
                top: 0.2rem;
        }
        .dark-mode {
            height: 1.3rem;
            width: 2.3rem;
            border-radius: 0.9rem;
            display: inline-block;
            position: relative;
            top: 0.3rem;
            left: -0.7rem;
            margin: 0; 
            border: 2px solid #fdfdfd; 
            background-color: #43444e;
            transition: all .2s ease;
            &:after{
                content: '';
                position: absolute; 
                
                left: 0.1rem;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background: rgb(240, 241, 243); 
                box-shadow: 0 1px 2px rgba(44, 44, 44, .2);
                transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
            }
            &:checked {
                border-color: #0f0e0e;
                 &:after{
                     background-color: rgb(27, 28, 29);
                    transform: translateX(0.9rem);
                 } 
            }
                

        }
        .nav-sub {
            @media(min-width: $medium) {
                border-right: 1px solid $grey4;
            }
        }
    } // nav-text-pos end
    .nav-logo {
        
        min-height: 10%;
        max-height: 3.5rem;
        width: auto;
    }
    @media (max-width: $xsmall ) {
        .nav-logo {
            display: none;
        }
    }
} //nav-all END

.card-all {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: $grey1;
    .read-more {
        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
    .post-tag {
        background-color: $grey2;
        border-radius: 5px;
        white-space: pre;
        &:hover {
            cursor: pointer;
        }

    }
    .followers-count{
        font-size: 0.8rem;

    }
    .creator-name {
        font-size: 1.1rem;
        cursor: pointer;
    }
    .card-image {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    position: relative;
    .scale-icon {
        position: absolute;
        top: 30%;
        left: 49%;
        opacity: 0;
        transform: scale(5);
        transition: opacity 0.4s;
        z-index: 5;
    }
    .card-image:hover .scale-icon {
        cursor: pointer;
        opacity: 1;
    }

    // Card Hover Effect
    /*.card-inside { 
        transition: 1s;
        position: relative;
        &:hover {
            top: -3rem;
            padding-top: 6rem;
        }
    }*/

    .card-icon {
        .comment-icon {
            color: $grey3;
            transition: color 0s;
            transform: scale(1.4);

            &:hover {
                cursor: pointer;
                color: $grey4;
                transform: scale(1.5);
                transition-duration: 0s;
            }
            &:focus {
                color: $grey4;
                transform: scale(1.5);
                transition-duration: 0s;

            }
            
        }

        .like-icon {
            transform: translate(-35%, -41%);
            width: 5.5rem;
            height: 5.5rem;
            background-position: 0 0;
            background: url('../components/icons/heart.png') no-repeat;
            transition: background-position 1s steps(28);
            transition-duration: 0s;

            &:hover {
                cursor: pointer;
                transition-duration: 1s;
                background-position: -2800px 0;
            }
        } //like-icon END
    }
} // card-all END
.click-like-icon {
    transition-duration: 1s;
    background-position: -2800px 0;
}
.profile-section {
    border-bottom: 3px solid $grey4;
    .follow-info {
        background-color: $grey1;
        border-radius: 5px;
        white-space: pre;
        &:hover {
            cursor: pointer;
        }
    }
}
