@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Roboto:wght@300;400;700&family=Yatra+One&display=swap");
body {
  background-color: #e5ffba13;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2387b39e75' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23a4d9bf70' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2387b39e75' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23a4d9bf70' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23c1ffe175' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23b37a6970' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d9948075' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23ffae9670' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d9948075' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23b37a6970' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23ffae9675' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23b37a6970' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23ffae9675' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d9948070' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23ffae9675' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.nav-all {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 11px 9px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 11px 9px rgba(0, 0, 0, 0.22);
  background-color: #636e729a;
  border-radius: 7px;
  text-align: center;
}

.nav-all .nav-title {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  line-height: 1.5;
}

.nav-all .nav-text-pos {
  position: relative;
  top: 0.3rem;
}

.nav-all .nav-text-pos input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.nav-all .nav-text-pos input[type="checkbox"]:focus {
  outline: 0;
}

.nav-all .nav-text-pos .nav-dark-mode {
  position: relative;
  top: -0.4rem;
}

.nav-all .nav-text-pos .dark-mode {
  height: 1.6rem;
  width: 2.9rem;
  border-radius: 0.9rem;
  display: inline-block;
  position: relative;
  top: 0.3rem;
  margin: 0;
  border: 2px solid #474755;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D2F39), to(#1F2027));
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.nav-all .nav-text-pos .dark-mode:after {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
          box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.nav-all .nav-text-pos .dark-mode:checked {
  border-color: #654FEC;
}

.nav-all .nav-text-pos .dark-mode:checked:after {
  -webkit-transform: translatex(20px);
          transform: translatex(20px);
}

@media (min-width: 992px) {
  .nav-all .nav-text-pos .nav-sub {
    border-right: 1px solid #2d3436;
  }
}

.nav-all .nav-logo {
  min-height: 10%;
  max-height: 3.5rem;
  width: auto;
}

@media (max-width: 576px) {
  .nav-all .nav-logo {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
}

.card-all {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #dfe6e9;
  position: relative;
  /*.card-inside { 
        transition: 1s;
        position: relative;
        &:hover {
            top: -3rem;
            padding-top: 6rem;
        }
    }*/
}

.card-all .read-more:hover {
  font-weight: bold;
  cursor: pointer;
}

.card-all .post-tag {
  background-color: #b2bec3;
  border-radius: 5px;
  white-space: pre;
}

.card-all .post-tag:hover {
  cursor: pointer;
}

.card-all .followers-count {
  font-size: 0.8rem;
}

.card-all .creator-name {
  font-size: 1.1rem;
}

.card-all .card-image {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-all .scale-icon {
  position: absolute;
  top: 30%;
  left: 49%;
  opacity: 0;
  -webkit-transform: scale(5);
          transform: scale(5);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 5;
}

.card-all .card-image:hover .scale-icon {
  cursor: pointer;
  opacity: 1;
}

.card-all .card-icon .comment-icon {
  color: #636e729a;
  -webkit-transition: color 0s;
  transition: color 0s;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.card-all .card-icon .comment-icon:hover {
  cursor: pointer;
  color: #2d3436;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.card-all .card-icon .comment-icon:focus {
  color: #2d3436;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.card-all .card-icon .like-icon {
  -webkit-transform: translate(-35%, -41%);
          transform: translate(-35%, -41%);
  width: 5.5rem;
  height: 5.5rem;
  background-position: 0 0;
  background: url("../components/icons/heart.png") no-repeat;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.card-all .card-icon .like-icon:hover {
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}

.click-like-icon {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}
/*# sourceMappingURL=style.css.map */